.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .home-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .home-icon {
      margin-right: 8px;
    }

    .app-name {
      margin-bottom: 0;
    }
  }
}
