@use "../../../globals";

.notebooks-card-container {
  padding: 16px;
  max-width: globals.$app-max-width;
  margin: 0 auto;

  .notebooks-card {
    .notebooks-container {
      padding: 8px;

      .notebooks {
        border-collapse: collapse;
        width: 100%;

        tr > * {
          padding: 8px;
        }

        .notebook {
          cursor: pointer;
          transition: background-color 0.1s linear;

          &:hover {
            background-color: rgba(0, 0, 0, 8%);
          }

          .notebook-name,
          .notebook-description,
          .notebook-create-time,
          .notebook-edit-time {
            @include globals.line-cutoff(1);
          }
        }
      }
    }
  }
}
